<%- include("partials/header.ejs") %>

<!-- Success/Error Messages -->
<div class="flash-messages">
    <p><%= successMessage %></p>
    <p><%= errorMessage %></p>
</div>

<!-- Search Section -->
<% if (!locals.searchDone) { %>
    <div class="search">
        <p>here you can add new games to your library! ;)</p>

        <!-- Show All Videogames -->
        <form id="show-all" method="GET" action="/">
            <input type="hidden" name="page" value="1">
            <button type="submit">show all games</button>
        </form>
        
        <!-- Search Videogame By Text -->
        <form id="search-text" method="GET" action="/">
            <input name="search" placeholder="type a game's name..." required>
            <input type="hidden" name="page" value="1">
            <button type="submit">search</button>
        </form>
    </div>
<% } %>

<!-- Results Section -->
<% if (locals.result) { %>
    <div class="table-section">
        <table class="table table-dark table-striped text-center">
            <thead>
                <tr>
                    <th scope="col" class="col-2">Title</th>
                    <th scope="col" class="col-1">Release Date</th>
                    <th scope="col" class="col-1">Rating</th>
                    <th scope="col" class="col-5">Platforms</th>
                    <th scope="col" class="col-1">Genres</th>
                    <th scope="col" class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% result.results.forEach((videogame) => { %>
                    <tr>
                        <td class="fw-semibold"><%= videogame.name %></td>
                        <td><span class="badge text-bg-light fs-6"><%= new Date(videogame.released).toLocaleDateString() %></span></td>
                        <% if (videogame.rating !== 0) { %>
                            <td><span class="badge text-bg-warning fs-6"><%= videogame.rating %></span></td>
                        <% } else { %>
                            <td><span class="badge text-bg-warning fs-6">Not specified</span></td>
                        <% } %>
                        <td>
                            <% videogame.platforms.forEach((platform) => { %>
                                <span class="badge bg-orange"><%= platform.platform.name %></span>
                            <% }) %>
                        </td>
                        <% if (videogame.genres.length > 0) { %>
                            <td>
                                <% videogame.genres.forEach((genre) => { %>
                                    <span class="badge text-bg-warning"><%= genre.name %></span>
                                <% }) %>
                            </td>
                        <% } else { %>
                            <td><span class="badge text-bg-warning">Not specified</span></td>
                        <% } %>
                        <td>
                            <form id="add-form" action="/add" method="POST">
                                <input type="hidden" name="title" value="<%= videogame.name %>">
                                <input type="hidden" name="released" value="<%= videogame.released %>">
                                <input type="hidden" name="rating" value="<%= videogame.rating %>">
                                <select name="platform">
                                    <option hidden selected value="">Select platform</option>
                                    <% videogame.platforms.forEach((platform) => { %>
                                        <option value="<%= platform.platform.name %>"><%= platform.platform.name %></option>
                                    <% }); %>
                                </select>
                                <input type="hidden" name="genres" value="<%= JSON.stringify(videogame.genres) %>">
                                <input type="hidden" name="image" value="<%= videogame.background_image %>">
                                <button type="submit"><i class="fa-solid fa-plus"></i></button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
    <!-- Pagination Buttons -->
    <div class="pag-buttons">
        <form method="GET" action="/">
            <% if (result.previous) { %>
                <% if (locals.searchedText) { %>
                    <input type="hidden" name="search" value="<%= searchedText %>">
                <% } %>
                <input type="hidden" name="page" value="<%= parseInt(currentPage) - 1 %>">
                <button type="submit" class="btn btn-warning"><i class="fa-solid fa-caret-left"></i> Previous</button>

            <% } else { %>
                <button disabled class="btn btn-warning"><i class="fa-solid fa-caret-left"></i> Previous</button>
            <% } %>
        </form>

        <p>Page: <%= currentPage %></p>

        <form method="GET" action="/">
            <% if (result.next) { %>
                <% if (locals.searchedText) { %>
                    <input type="hidden" name="search" value="<%= searchedText %>">
                <% } %>
                <input type="hidden" name="page" value="<%= parseInt(currentPage) + 1 %>">
                <button type="submit" class="btn btn-warning">Next <i class="fa-solid fa-caret-right"></i></button>
            <% } else { %>
                <button disabled class="btn btn-warning">Next <i class="fa-solid fa-caret-right"></i></button>
            <% } %>
        </form>
    </div>
<% } %>

<%- include("partials/footer.ejs") %>