<%- include("partials/header.ejs") %>

<% library.forEach((videogame) => { %>
    <div class="card" style="width: 18rem;">
        <img src="<%= videogame.image %>" class="card-img-top" alt="<%= videogame.title %> Image">
            <div class="card-body">
                <h5 class="card-title"><%= videogame.title %></h5>
            </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Release Date: <%= new Date(videogame.release_date).toLocaleDateString() %></li>
                    <li class="list-group-item">Platforms: <%= videogame.platforms %></li>
                    <li class="list-group-item">Genres: <%= videogame.genres %></li>
                </ul>
      </div>

    <% console.log("Videogame: " + videogame.title); %>
    <% console.log("Platforms: " + videogame.platforms); %>
    <% console.log("Genres: " + videogame.genres); %>
<% }); %>


<%- include("partials/footer.ejs") %>